#sortable li {
	list-style-type: none;
	margin-left:-50;
	cursor: pointer;
	height:35px;
}
#sortable {
	margin-top: 0px;
	margin-bottom: 0px;
}
.volume{
	position:absolute;
	top:50%;
	margin-top:-300px;
	left:50%;
	margin-left:-275px;
	cursor:pointer;
}
.volume:hover {
	cursor:pointer;
}
.playing_album{
	border:1px solid white;
	height:60px;
}

.circular {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	position: relative;
	  top: 50%;
	  margin-top:-250px;
	display:inline-block;
	-moz-border-radius: 50%;
	background: url("../images/airplane-over-the-sea-album.jpg");
	background-size: cover; 
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
#prev {
	width:100px;
	height:100px;
	position:absolute;
	top:50%;
	margin-top:250px;
	left:50%;
	margin-left:-275px;
}
#next {
	width:100px;
	height:100px;
	position:absolute;
	top:50%;
	margin-top:250px;
	left:50%;
	margin-left:175px;
}
.play {
	width: 100px;
	height: 100px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-left:-50px;
	transform: translateY(-50%);
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	background: url("../images/arrow.png");
	background-size: cover; 
	display:inline-block;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
.arm {
	width: 200px;
	height: 400px;
	position:absolute;
	top: 50%;
	left: 50%;
	margin-top:-105px;
	margin-left:75px;
	transform: translateY(-50%);
	background: url("../images/img-record-arm.png");
	background-size: cover; 
	display:inline-block;
}
.menu {
	height: 55px; 
	width:100%;
	background: url("../library/images/background/lightfuckingwood_header.png");
	background-size: cover; 
	position:relative;
}
#home { 
	height: 50px;
	width: 50px;
	margin-left:2.5px;
	background-image: url("../library/images/misc/home.png");
	background-size: cover;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
#home:hover {
			opacity: 1;
			-webkit-filter: grayscale(0);
			filter: grayscale(0);
			cursor: pointer;
		}
.new_country { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/you&me-album.jpg"); 
}
.empty_threat { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/every-open-eye-album.jpg");
}
.rubber { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/yuck-album.jpg"); 
}
.interlude { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/mcr-album.jpg"); 
}
.lobotomy { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/digital-lobotomy-album.jpg"); 
}
.moon { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center; 
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/black-listed-album.png");
}
.shoot { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center;  
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/dirty-album.jpg");
}
.revolver { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center;  
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/revolver-album.jpg");
}
.riot { 
	width: 100%; 
	background-color:blue; 
	height: 35px; 
	line-height: 20px; 
	text-align:center;  
	background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/riot-album.jpg");
}
.title { 
	background-color: white; 
	display:inline-block; 
	margin-top:5px; 
	font-weight:bold;
}

.playlist_label
{
	position:absolute;
	left:50%; 
	margin-left:-70px; 
	top:0px;
	font-weight:bold;
	font-size:40px;
}

.song-list { 
	background-image: url("../library/images/background/darkfuckingwood.jpg");
	background-repeat: repeat;
	overflow:auto; 
	padding-top:-10px;
	width:50%; 
	height:100%; 
	float:left;
}

.play:hover {
	-webkit-filter: invert(1) grayscale(1) contrast(0.8);
	filter: invert(1) grayscale(1) contrast(0.8);
	cursor: pointer;
}

.button:hover {
	-webkit-filter: invert(1) grayscale(1) contrast(0.8);
	filter: invert(1) grayscale(1) contrast(0.8);
	cursor: pointer;
}

.player { 
	background-image: url("../images/stainless_steel.png"); 
	background-size: cover;  
	min-width: 400px;
	min-height: 700px;
	width:50%; 
	height:100%; 
	float:right
}
.now_playing{
	height:80px;
	background-color:#000000;
	position:relative;
}
.up_next{
	background:white;
	float:left;
}
@media only screen and (max-width: 1200px) {
	/* For mobile phones: */
	.song-list{
		width: 100%; 
		height:45%; 
		float:none;
	}
	.player{
		width: 100%; 
		height:55%; 
		float:none;
		min-height: 475px;
	}
	.circular { 
		height: 370px; 
		width:370px;
		margin-top:-185px;
	}
	.volume{
		position:absolute;
		top:50%;
		margin-top:-200px;
		left:50%;
		margin-left:-250px;
	}
	#next { 
		height: 75px; 
		width:75px;
		top:50%;
		position:absolute;
		margin-top:150px;
		left:50%;
		margin-left:150px;
	}
	#prev { 
		height: 75px; 
		width:75px;
		position:absolute;
		top:50%;
		margin-top:150px;
		left:50%;
		margin-left:-250px;
	}
	#slider{
			top:50%;
			margin-top: -120px;
	}
	
	.arm {
	width: 150px;
	height: 300px;
	margin-top:-75px;
	margin-left:50px;
}
}

.store {
	background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("../images/vinylstoreII.jpg");
	background-size: cover;
}
#profile { 
	position:absolute;
	top:0; 
	right:100px;
	opacity: 1;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
#profile:hover {
	opacity: 1;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#options { 
	position:absolute;
	top:0; 
	right:0;
	opacity: 1;
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}
#options:hover {
	opacity: 1;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#my_library {
	margin-left: auto;
	margin-right: auto;
}
#my_library:hover { 
	-moz-box-shadow: 0 0 50px #fff; 
	-webkit-box-shadow: 0 0 50px #fff; 
	box-shadow: 0 0 50px 10px #00badb; 
}
#friends_list{
	margin-left: auto;
	margin-right: auto;
}

#friends_list:hover {
	-moz-box-shadow: 0 0 50px #fff; 
	-webkit-box-shadow: 0 0 50px #fff; 
	box-shadow: 0 0 50px 10px #00badb; 
}

#featured{
	margin-left: auto;
	margin-right: auto
}

#featured:hover {
	-moz-box-shadow: 0 0 50px #fff; 
	-webkit-box-shadow: 0 0 50px #fff; 
	box-shadow: 0 0 50px 10px #00badb; 
}